.list {
  background-color: #f1f2f4;
  min-width: 300px;
  max-width: 300px;
  border-radius: 10px;
  padding: 10px 5px;
  position: relative;
}

.title {
  margin-bottom: 10px;
  padding: 5px;
}

.addTask {
  cursor: pointer;
  color: #44546f;
  font-size: 12px;
  padding-left: 5px;
  margin-bottom: 30px;
}

.deleteList {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.deleteList:hover {
  background-color: #44546f;
}
